body {
	background-color: #282828;
	color: #F0F0F0;
	font: 10px Helvetica;
	margin: 0 auto;
}

/*toolbar*/

.toolbar-container {
	height: 20px;
	box-shadow: 0px 4px 4px -4px #777777;
	padding-bottom: 15px;
	font-size: 12px;
}

.toolbar-container > * {
	float: left;
	display: inline;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 10px;
}

.toolbar-title {
	font-size: 12px;
	margin-top: 15px;
	font-weight: bold;
}

.knob-toolbar {
	text-align: center;
	font-size: 12px;
	height: 40px;
	width: 50px;
}

.knob-title-toolbar {
	display: inline-block;
	height: 40px;
	width: 50px;
}

.toolbar-play {
	margin-top: 10px;
}

/*control*/

.control-play {
	width: 0;
	height: 0;
	border-left: 5px #bbbbbb solid;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	margin-left: 2px;
	margin-right: 2px;
}

.control-pause {
	width: 4px;
	height: 9px;
	border-right: 2px #bbbbbb solid;
	border-left: 2px #bbbbbb solid;
	/*border-top: 2px solid transparent;*/
	/*border-bottom: 2px solid transparent;*/
	margin-left: 1px;
}


/*knob*/

.knob-container {
	width: 50px;
	height: 50px;
	float: left;
	padding-right: 20px;
}

.knob-container-mini {
	width: 30px;
	height: 30px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

.knob-container-toolbar {
	width: 50px;
	height: 20px;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
}

.knob-container-toolbar > * {
	display: inline-block;
}

.knob-circle {
	background-image: radial-gradient(ellipse farthest-corner at 50% 20% , #666666 0%, #3C3C3C 50%, #5A5A5A 90%, #000000 100%);
	border-radius: 50%;
	width: 100%;
	height: 80%;
}

.knob-needle {
	background-color: #D2D2D2;
	height: 30%;
	width: 3px;
	margin: 0 auto;
}

.knob-title {
	text-align: center;
	font-size: 12px;
}

.knob-minimal {
	text-align: center;
	font-size: 12px;
}

.knob-mini {
	text-align: center;
	font-size: 12px;
}

.knob-title-mini {
	text-align: center;
	font-size: 8px;
}


/*waveselector and wavecanvas*/


.waveselector-container {
	width: 40px;
	height: 100px;
	float: left;
	padding-right: 20px;
}

.wavecanvas {
	height: 20px;
	width: 20px;
	padding: 1px;
	display: block;
}

.wavecanvas-selected {
	height: 20px;
	width: 20px;
	padding: 1px;
	display: block;
	background-color: #222222;
}


/*oscillator*/

.oscillator {
	width: 99%;
	height: 150px;
	/*background-color: #AAAAAA;*/
	padding: 10px;
	margin-bottom: 5px; 
}

.oscillator-hover {
	box-shadow: inset 0px 0px 10px #777777;
}

.oscillator-titlebar > * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.oscillator-title {
	font-weight: bold;
	font-size: 12px;
}

.oscillator-play-pause {
	width: 10px;
	height: 10px;
	border: 1px #777777 solid;
	padding: 3px;
}

.oscillator-play-pause-hover {
	width: 10px;
	height: 10px;
	border: 1px #aaaaaa solid;
	padding: 3px;
}

.oscillator-container {

}

.oscillator-list {
	width: 50%;
}

.oscillator-container > .visualiser {
	float: right;
	height: 120px;
	width: 200px;
}

.adsr-canvas {
	height: 50px;
	width: 200px;
}

.adsr-container {
	float: left;
}

.adsr-controls {
	margin: 0 auto;
	width: 100%;
}
